<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{$config->name}</title>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>$.noConflict();</script>

<link rel="shortcut icon" href="{$config->url_site}/web-gallery/favicon.ico" type="image/vnd.microsoft.icon" />
<script src="{$config->url_site}/web-gallery/js/libs2.js" type="text/javascript"></script>
<script src="{$config->url_site}/web-gallery/js/visual.js" type="text/javascript"></script>
<script src="{$config->url_site}/web-gallery/js/libs.js" type="text/javascript"></script>
<script src="{$config->url_site}/web-gallery/js/common.js" type="text/javascript"></script>
<script src="{$config->url_site}/web-gallery/js/fullcontent.js" type="text/javascript"></script>

<link rel="stylesheet" href="{$config->url_site}/web-gallery/styles/common.css" type="text/css" />
<script src="{$config->url_site}/web-gallery/js/skin.js" type="text/javascript"></script>
<link rel="stylesheet" href="{$config->url_site}/web-gallery/styles/quickregister.css" type="text/css" />
<link rel="stylesheet" href="{$config->url_site}/web-gallery/styles/custom.css" type="text/css" />
<meta name="description" content="{$config->meta_description}" />
<meta name="keywords" content="{$config->meta_keywords}" />



<!--[if IE 8]>
<link rel="stylesheet" href="{$config->url_site}/web-gallery/styles/ie8.css" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" href="{$config->url_site}/web-gallery/styles/ie.css" type="text/css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="{$config->url_site}/web-gallery/styles/ie6.css" type="text/css" />
<script src="{$config->url_site}/web-gallery/js/pngfix.js" type="text/javascript"></script>
<script type="text/javascript">
try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>

<style type="text/css">
body { behavior: url(/js/csshover.htc); }
</style>
<![endif]-->
</head>