﻿<div class="content content_grey"><div class="grey_box_top"><div class="box box_top"></div></div>  <!-- REQUEST FORM -->
<form action="submit_check.php" method="post" name="ticketform">    <h2>
      Envoyez une demande
      <span class="sub"></span>
    </h2>    
    

    <div id="end-user-form" style="width:98%;">

      <h3>Bonjour, je suis <super>*</super></h3>
<p>Merci de sélectionner un choix.</p><p><select id="ticket_fields_386799" name="client">
<option value="habbo_player">Un joueur sur Habbo</option>
<option value="parent_habbo">Le parent d’un utilisateur</option>
<option value="neither">Aucun des précédents</option></select>
</p><h3>Mon souci: <super>*</super></h3>
<p>Merci de sélectionner une des propositions suivantes. Choisissez celle qui se rapproche le plus de votre souci, afin d’obtenir une réponse rapide.
</p><p><select id="ticket_fields_386800" name="problem">
<option value="habbo_credits">Un problème avec un/des achats de Crédits Habbo</option>
<option value="password_issue">Le mot de passe de mon compte/du compte de mon enfant</option>
<option value="ban_issue">Mon exclusion/ l’exclusion de mon enfant</option>
<option value="unauthorized_access">Le vol de mon compte/ le vol du compte de mon enfant</option>
<option value="missing_furni">Des meubles/Crédits manquent sur mon compte/sur le compte de mon enfant</option>
<option value="bug_technical">Un problème technique sur Habbo</option>
<option value="account_issue">Problème d’accès/de compte</option>
<option value="idea_share">J"ai eu une (ou plusieurs idées) pour Habbo</option>
<option value="business_enquiry">Une proposition de partenariat/marketing/publicité</option>
<option value="other_issue">Ma question n’est pas dans la liste</option></select>
</p><h3>Description <super>*</super></h3>
<p>Merci de donner un maximum de détails sur la situation, ceci afin d’éviter trop d’échanges d’emails avec notre Service Client.
<br>N’hésite pas à consulter nos <a href="http://help.habbo.fr/forums">Questions fréquentes</a>, la plupart des questions posées y sont déjà répondues ! </p>

<p>Dans le cas d’un comportement inacceptable (harcèlement, demande à caractère sexuel, insultes), le plus efficace est d’envoyer immédiatement (au moment du souci) une demande à un de nos modérateurs. En effet, une personne du Service Client n’aurait pas la possibilité de voir ce qui ce serait passé et ne pourrait donc pas t’aider.
<br>Si tu ne sais pas comment envoyer un appel à l’aide, consulte notre <a href="https://help.habbo.fr/entries/342723-comment-contacter-un-moderateur">Guide d’appel aux modérateurs</a>.
</p><p><textarea cols="68" id="comment_value" name="comment" rows="6" style="width:100%"></textarea></p><h3>Mon adresse email est .. </h3>

<p>Choisis(sez) une adresse email valide! La réponse sera envoyée dessus.</p><p><input id="ticket_fields_386801" name="email" size="30" type="text" value=""></p><h3>Plus d’infos.. </h3>
<p>Si ta question concerne un achat de Crédits Habbo par téléphone, n’oublie pas d’indiquer ton adresse email, le numéro de téléphone utilisé pour appeler!
</p><p><input id="ticket_fields_386802" name="tel" size="30" type="text" value=""></p>
    </div>

<div class="action">
      <input class="button primary" id="submit-button" name="commit" type="submit" value="Valider">
    </div>
</form><div class="grey_box_bottom"><div class="box box_bottom"></div></div></div><div class="box_bottom_clear">&nbsp;</div>

    
    









    </div>
  </div>

</div></div>

  </div>