

  <div id="footer"><p>© 2010 Sulake Corporation Oy. HABBO is a registered trademark of Sulake Corporation Oy in the European Union, the USA, Japan, the People's Republic of China and various other jurisdictions. All rights reserved.</p><p><a href="http://www.zendesk.com/">Customer support</a> software by Zendesk</p></div>




<!-- Localized --></body></html>