<div id="contentcolumn">
      



  

<div class="content content_grey"><div class="grey_box_top"><div class="box box_top"></div></div>

  <div class="content-top-right top">
    <p><span id="forum_293617_subscription_link2"><span id="subscribe_link">
  <a class="subscribe" href="#" title="Recevoir des mises à jour par email">s'abonner</a>
</span>

</span></p>
  </div>

  <h2 class="forums"><a href="index.php">FAQ</a><span class="delim">/</span><a href="faq.php">Questions fréquentes</a><span class="delim">/</span>{$cname}</h2>

<div class="grey_box_bottom"><div class="box box_bottom"></div></div></div><div class="box_bottom_clear">&nbsp;</div>

<div class="forum_tabs">
<div class="content content_grey"><div class="grey_box_top"><div class="box box_top"></div></div>      
  <div class="content-top-right top add-button">
    <p class="button-item">
      
    </p>
  </div>

  <p class="forum-nav">
    <a href="index.php" id="forum_nav_overview" url="index.php">Voir tous</a>
    <span class="delim">|</span>
    <a href="category.php" class="active">Derniers</a>
  </p>

      

    <div id="content_entries">
      
<div class="frame paginates_with_more" id="search-result">
    
    
    
    
    
    
    
    
    
    
    
    
  <div class="item">
	{$text}
  </div>












  <div class="item nobottom">
    
  


<div class="item-info" id="entry-349938">
  <h1 id="entry_349938_subj" class="fade_truncation_outer">
    <div class="fade_truncation_inner"></div>
    <span class="">
      <a href="index.php" title="Bugs du moment">Retour &agrave; l'accueil</a>
    </span>
  </h1>


</div>


  </div>
  
  
  
  


</div>

    </div>
<div class="grey_box_bottom"><div class="box box_bottom"></div></div></div><div class="box_bottom_clear">&nbsp;</div></div>

<script type="text/javascript">
//<![CDATA[
zd.jsInitializers.push(["forums/show",[]]);
//]]>
</script>
    </div>