<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <title>
      Centre d'Aide Habbo 
  </title>
  
  

  <!--[if lt IE 9]>
  <script src="https://assets.zendesk.com/javascripts/vendor/html5_shiv.js?1331317591" type="text/javascript"></script>
<script src="https://assets.zendesk.com/javascripts/vendor/excanvas.js?1331317591" type="text/javascript"></script>
  <![endif]-->

  <link href="./assets_files/screen.css" media="all" rel="stylesheet" type="text/css">
  <link href="./assets_files/print.css" media="print" rel="stylesheet" type="text/css">

  <!--[if lte IE 8]><link href="https://assets.zendesk.com/assets/ie.css?1331317591" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if lte IE 6]><link href="https://assets.zendesk.com/assets/ie6.css?1331317591" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

  <link rel="stylesheet" type="text/css" href="./assets_files/1323430532.css" media="screen">

  <script src="./assets_files/bootstrap.js" type="text/javascript"></script>

      <link href="file://localhost/Users/Valentin/Downloads/help.habbo.fr/home/index.rss.html" rel="alternate" title="RSS" type="application/rss+xml">


<body class="home home-index"><div id="cboxOverlay" style="display: none; "></div><div id="colorbox" class="" style="padding-bottom: 32px; padding-right: 0px; display: none; "><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left; "></div><div id="cboxTopCenter" style="float: left; "></div><div id="cboxTopRight" style="float: left; "></div></div><div style="clear:left"><div id="cboxMiddleLeft" style="float: left; "></div><div id="cboxContent" style="float: left; "><div id="cboxLoadedContent" style="width:0; height:0; overflow:hidden" class=""></div><div id="cboxLoadingOverlay" class=""></div><div id="cboxLoadingGraphic" class=""></div><div id="cboxTitle" class=""></div><div id="cboxCurrent" class=""></div><div id="cboxNext" class=""></div><div id="cboxPrevious" class=""></div><div id="cboxSlideshow" class=""></div><div id="cboxClose" class=""></div></div><div id="cboxMiddleRight" style="float: left; "></div></div><div style="clear:left"><div id="cboxBottomLeft" style="float: left; "></div><div id="cboxBottomCenter" style="float: left; "></div><div id="cboxBottomRight" style="float: left; "></div></div></div><div style="position:absolute; width:9999px; visibility:hidden; display:none"></div></div><div id="cboxOverlay" style="display: none; "></div><div id="colorbox" class="" style="padding-bottom: 32px; padding-right: 0px; display: none; "><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left; "></div><div id="cboxTopCenter" style="float: left; "></div><div id="cboxTopRight" style="float: left; "></div></div><div style="clear:left"><div id="cboxMiddleLeft" style="float: left; "></div><div id="cboxContent" style="float: left; "><div id="cboxLoadedContent" style="width:0; height:0; overflow:hidden" class=""></div><div id="cboxLoadingOverlay" class=""></div><div id="cboxLoadingGraphic" class=""></div><div id="cboxTitle" class=""></div><div id="cboxCurrent" class=""></div><div id="cboxNext" class=""></div><div id="cboxPrevious" class=""></div><div id="cboxSlideshow" class=""></div><div id="cboxClose" class=""></div></div><div id="cboxMiddleRight" style="float: left; "></div></div><div style="clear:left"><div id="cboxBottomLeft" style="float: left; "></div><div id="cboxBottomCenter" style="float: left; "></div><div id="cboxBottomRight" style="float: left; "></div></div></div><div style="position:absolute; width:9999px; visibility:hidden; display:none"></div></div>
  <ul id="banners">
  <script type="text/html" id="banner-item-template" data-template-name="banner-item">
    <li>
      <span class='icon'>&nbsp; &nbsp; &nbsp; </span>
      <span class='content'>j</span>
      <span class='ignore'>(<a href='#'>ignore this</a>)</span>
      <span class='reload'>(<a href=''>reload</a>)</span>
    </li>
  </script>
</ul>

  <div id="page">
    <div id="top">
      <div id="header">
        <div id="top-right"></div>
        <div id="header_container">
    <table id="table_header"><tbody><tr>
      <td><a href="{$config->url_site}" target="_blank" title=""><img alt="" id="logo" src="./assets_files/habbo_logo_nourl.gif"></a>&nbsp;</td>
      <td><img alt="" id="logo-delimiter" src="./assets_files/logo-delimiter.png">&nbsp;</td>
      <td><a href="index.php">Centre d'Aide Habbo</a></td>
    </tr></tbody></table>
</div>

      </div>

      <div id="top-menu-background">
        <div id="top-menu">
          <ul id="green" style="width: 100%;">
            <li class="main clazz tab_new"><a href="index.php" class="tab">Accueil</a></li>
            <li class="main tab_forums"><a class="tab" href="faq.php">FAQ</a></li>
            <!--<li class="main clazz tab_new"><a href="submit.php" class="tab">Envoyer une demande</a></li>
            <li class="main clazz tab_new"><a href="my.php" class="tab">Mes demandes</a></li>-->
          </ul>
        </div>
      </div>
    </div>

    

<div id="container" class="clearfix">

  <div id="flash">
</div>




  <div id="flash_messages">
    



<script type="text/javascript">
</script>

  </div>

  

  <div id="contentwrapper">
    <div id="contentcolumn">
      






      

      


    





