
















  <div class="forum_tabs">
<div class="content content_grey"><div class="grey_box_top"><div class="box box_top"></div></div>      




      <div id="content_entries">
        <div class="frame columns">


<div>
          
        

  <div class="category" id="category_none">





  </div>


      </div>





<div style="margin-top:-50px;" class="category-header">
    <h2><a href="">Questions fréquentes<span class="follow_link">»</span></a></h2>
</div>
  





<div class="category" id="category_5796" data-category_path="/categories/5796-questions-frequentes">




{$category}










<div style="clear:both; height:0px;">&nbsp;</div>
  </div>



</div>

      </div>
      
      







<div class="grey_box_bottom"><div class="box box_bottom"></div></div></div><div class="box_bottom_clear">&nbsp;</div>  </div>















  
  
  
  
  
  



    </div>
  </div>



</div>


  </div>