
<div id="container">
	<div id="content" style="position: relative" class="clearfix">
    <div id="column1" class="column">
    <div class="habblet-container"  style="width:450px">
        <div class="cbb clearfix red ">
            <h2 class="title">{#HomeIsDeactivate#}</h2>

            <div id="notfound-content" class="box-content">
                <p class="error-text">
                    {#MayBeTheUserIsBan#}
                </p>
                <img id="error-image" src="{$config->url_site}/web-gallery/images/habbo_skeleton.gif" />

            </div>
        </div>
    </div>
</div>