<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{$config->url_site}/web-gallery/js/vip.js"></script>
<script>
	jQuery.noConflict();
</script>
<div id="container">
	<div id="content" style="position: relative" class="clearfix">
   				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
			 
			    
				<div class="habblet-container" id="okt" style="float:left; width: 770px;">		
										<div class="cbb clearfix blue ">
	
							<h2 class="title">{$page.title}
							</h2>
							<div style="padding:30px;">
							{$page.content}
					</div>
</div>
		
				
				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>



</div>


