<div id="container">
	<div id="content" style="position: relative" class="clearfix">
    <div id="column1" class="column">
			     		
				<div class="habblet-container ">		
						<div class="cbb clearfix orange ">
	
							<h2 class="title">Choisi ton mode de paiment
							</h2>
						<style>
div.credit-amount-coin {
    width: 26px !important;
}
</style>





<style type="text/css">
.method-group.online.bestvalue {
 background-image: url(images/fr_strike_best_value.png);
background-repeat: no-repeat;
}

.price b.from {
  visibility:hidden;
  max-height:1px;
}

.method-group.phone .redeemcode {
    width: 75px!important;
}
.method-group.phone .redeem {
    margin: 0!important;
}
div.phone * a.redeem-submit > b {
    padding: 5px!important;
    width: 55px!important;
}
div.uscashcards  {
    padding-left: 166px!important;
}

</style>

            
            <div class="method-group online clearfix  bestvalue  cbs2">


                        <div id="group-content-4854">
                        <div id="price-container">
                            <div id="pricepoints">
                            
                            <a href="#" onclick="return submitMethodForm($(this).up('form'), '3376', 'creditcard_fr')" class="large-button logo-button"><span><img alt="Carte Bancaire" src="images/starpass.png"></span><i></i></a>
                            
                            <a href="#" onclick="return submitMethodForm($(this).up('form'), '3376', 'creditcard_fr')" class="large-button logo-button"><span><img alt="Carte Bancaire" src="images/partner_logo_paypal_001.png"></span><i></i></a>
                                            <a href="#" onclick="return submitMethodForm($(this).up('form'), '3376', 'creditcard_fr')" class="large-button logo-button"><span><img alt="Carte Bancaire" src="images/allopass.png"></span><i></i></a>
                            
                               </div>                            <div id="methods">
                                <ul>
                                            <li><img alt="Carte Bancaire" src="images/starpass.png"/></li>
                                            <li><img alt="Paypal" src="images/partner_logo_paypal_001.png"/></li>
                                            <li><img alt="Internet+" src="images/allopass.png"/></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                        
                        
                                        
            </div>

<script type="text/javascript">
    document.observe("dom:loaded", function() { new CreditsList('false'); });
</script>

<div class="moreinfo-section">
    <a href="vip.php" class="moreinfo">Adhérer au club VIP !</a>
</div>

<div class="credits-footer clearfix">
<div class="disclaimer">
    <h3><span>Demande toujours la permission</span></h3>
    Si tu ne respectes pas cette règle, tu seras définitivement exclu d'Habbo!
</div>
<div class="disclaimer">
    <h3><span>Que faire en cas de problèmes ?</span></h3>
    Si tu rencontres des problèmes, contacte-nous grâce au <a onclick="openOrFocusHelp(this); return false" target="habbohelp" href="http://cbalow.eu/help/submit.php">Centre d'aide</a>.
</div>
</div>

						
							
					</div>
				</div>
				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
			 

			     		
				<div class="habblet-container ">		
						<div class="cbb clearfix darkgray ">
	
							
						<div id="redeem-habblet">
    <div class="redeem-balance">
        <p class="redeem-balance-username">robin715</p>
        <p class="redeem-balance-text">Tes Crédits :</p>
        <p><span class="redeem-balance-amount" style="background:url(images/points.png) no-repeat!important;"><span style="margin-left:-10px;"><span style="font-weight:normal;">x</span> 0</span></span></p>
    </div>

    <div class="redeem-redeeming-text"><p class="redeeming-text">Si tu as obtenu un code autre que par les moyens de paiements ci-dessous, rentre le ici</p></div>

    <div class="redeem-form-container clearfix" style="margin-top:7px;">
        <form method="post" action="#" id="voucher-form">
<div class="redeem-redeeming">
    <div><input type="text" name="voucherCode" value="" class="redeemcode" size="8" /></div>

    <div class="redeem-redeeming-button"><a href="#" class="new-button green-button redeem-submit exclude"><b><span></span>Echanger</b><i></i></a></div>
    
</div>
        </form>
    </div>
</div>

<script type="text/javascript">
document.observe("dom:loaded", function() { new NewRedeemHabblet(); });
</script>

						
							
					</div>
				</div>
				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
			 

</div>
<script type="text/javascript">
HabboView.run();
</script>
<div id="column2" class="column">
			     		
				<div class="habblet-container ">		
	
						<div class="ad-container">
<!--JavaScript Tag // Tag for network 957: Sulake // Website: HabboHotel_FR // Page: Credits // Placement: Credits marketing_button 160 x 110 (2132066) // created at: Oct 8, 2009 1:06:16 PM-->
<script language="javascript">
<!--
if (window.adgroupid == undefined) {
    window.adgroupid = Math.round(Math.random() * 1000);
}
if (window.adkeywords == undefined) {
    if (typeof(ad_keywords) == 'undefined') {
        window.adkeywords = '';
    } else {
        window.adkeywords = ad_keywords.split(',').join('+');
    }
}
document.write('<scr'+'ipt language="javascript1.1" src="http://adtech.habbo.com/addyn|3.0|957.1|2132066|0|1778|ADTECH;cookie=info;alias=;loc=100;target=_blank;key='+window.adkeywords+';grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
//-->
</script><noscript><a href="http://adtech.habbo.com/adlink|3.0|957.1|12132066|0|1778|ADTECH;loc=300;alias=;key=;cookie=info;" target="_blank" target="_blank"><img src="http://adtech.habbo.com/adserv|3.0|957.1|2132066|0|1778|ADTECH;loc=300;alias=;key=;cookie=info;" border="0"></a></noscript>
<!-- End of JavaScript Tag --> 
<br /><br />
<!--JavaScript Tag // Tag for network 957: Sulake // Website: HabboHotel_FR // Page: Credits // Placement: Credits partner_button 160 x 110 (2132031) // created at: Oct 8, 2009 1:06:16 PM-->
<script language="javascript">
<!--
if (window.adgroupid == undefined) {
    window.adgroupid = Math.round(Math.random() * 1000);
}
if (window.adkeywords == undefined) {
    if (typeof(ad_keywords) == 'undefined') {
        window.adkeywords = '';
    } else {
        window.adkeywords = ad_keywords.split(',').join('+');
    }
}
document.write('<scr'+'ipt languag</scrvas</scr1.1" src="http://adtech.habbo.com/addyn|3.0|957.1|2132031|0|1778|ADTECH;cookie=info;alias=;loc=100;target=_blank;key='+window.adkeywords+';grp='+window.adgroupid+';misc='+new Date().getTime()+'"></scri'+'pt>');
//-->
</script><noscript><a href="http://adtech.habbo.com/adlink|3.0|957.1|12132031|0|1778|ADTECH;loc=300;alias=;key=;cookie=info;" target="_blank" target="_blank"><img src="http://adtech.habbo.com/adserv|3.0|957.1|2132031|0|1778|ADTECH;loc=300;alias=;key=;cookie=info;" border="0"></a></noscript>
<!-- End of JavaScript Tag -->
</div>

						
					
				</div>
				<script type="text/javascript">if (!$(document.body).hasClassName('process-template')) { Rounder.init(); }</script>
			 

</div>
<!--[if lt IE 7]>
<script type="text/javascript">
Pngfix.doPngImageFix();
</script>
<![endif]-->
    </div>
<div id="footer">
	<p class="footer-links"><a href="https://help.habbo.fr" target="_new">Aide - Contact</a> | <a href="http://www.habbo.fr/groups/SafetyTips">Sécurité</a> | <a href="http://www.habbo.fr/groups/ParentsGuide" target="_new">Guide des Parents</a> | <a href="/papers/termsAndConditions">Conditions d'Utilisation</a> | <a href="/papers/privacy">Charte de protection des données personnelles</a> | <a href="http://www.sulake.com">Sulake</a> | <a href="http://www.habbofrancepro.fr" target="new">Partenaires/Publicité</a> | <a href="/papers/legal" target="_new">Mentions légales</a></p>
	<p class="copyright">© 2004-2011 Sulake Corporation Oy, HABBO est une marque déposée de Sulake Corporation Oy dans l'Union Européenne, les Etats-Unis, le Japon, la république populaire de Chine et autres juridictions. Tous droits réservés.</p>
</div></div>

</div>

   
    <!-- Start Quantcast tag -->
<script type="text/javascript">
_qoptions={
qacct:"p-b5UDx6EsiRfMI"
};
</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="http://pixel.quantserve.com/pixel/p-b5UDx6EsiRfMI.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->


<!-- HL-19785 -->
<script type="text/javascript">
if (window.location.pathname == "/") {
	var axel = Math.random() + "";
	var a = axel * 10000000000000;
	document.write('<iframe src="http://fls.doubleclick.net/activityi;src=2505116;type=gener543;cat=homep457;ord=' + a + '?" width="1" height="1" frameborder="0"></iframe>');
}
</script>
    
    
        


</body>
</html>
