/*Source WP*/
html {
	background: #f9f9f9;
}

body {
	background: #fff;
	color: #333;
	font-family: sans-serif;
	margin: 2em auto;
	padding: 1em 2em;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
	max-width: 700px;
}

a {
	color: #21759b;
	text-decoration: none;
}

a:hover {
	color: #d54e21;
}

h1 {
color: #666;
font-family: 'Dosis', sans-serif;
font-weight:300;
font-size:70px;
}

h2 {
	font-size: 16px;
}

p, li, dd, dt {
	padding-bottom: 2px;
	font-size: 14px;
	line-height: 1.5;
}

code, .code {
	font-size: 14px;
}

ul, ol, dl {
	padding: 5px 5px 5px 22px;
}

a img {
	border:0
}
abbr {
	border: 0;
	font-variant: normal;
}
#logo {
	margin: 6px 0 14px 0;
	border-bottom: none;
	text-align:center
}
#logo a {
	background-image: url('../images/wordpress-logo.png?ver=20120216');
	background-size: 274px 63px;
	background-position: top center;
	background-repeat: no-repeat;
	height: 67px;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
}
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
	#logo a {
		background-image: url('../images/wordpress-logo-2x.png?ver=20120412');
		background-size: 274px 63px;
	}
}
.step {
	margin: 20px 0 15px;
}
.step, th {
	text-align: left;
	padding: 0;
}
.step .button-large {
	font-size: 14px;
}
textarea {
	border: 1px solid #dfdfdf;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: sans-serif;
	width:  695px;
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
}

.form-table td {
	margin-bottom: 9px;
	padding: 10px 20px 10px 0;
	border-bottom: 8px solid #fff;
	font-size: 14px;
	vertical-align: top
}

.form-table th {
	font-size: 14px;
	text-align: left;
	padding: 16px 20px 10px 0;
	border-bottom: 8px solid #fff;
	width: 140px;
	vertical-align: top;
}

.form-table code {
	line-height: 18px;
	font-size: 14px;
}

.form-table p {
	margin: 4px 0 0 0;
	font-size: 11px;
}

.form-table input {
	line-height: 20px;
	font-size: 15px;
	padding: 2px;
	border: 1px #dfdfdf solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: sans-serif;
}

.form-table input[type=text],
.form-table input[type=password] {
	width: 206px;
}

.form-table th p {
	font-weight: normal;
}

.form-table.install-success td {
	vertical-align: middle;
	padding: 16px 20px 10px 0;
}

.form-table.install-success td p {
	margin: 0;
	font-size: 14px;
}

.form-table.install-success td code {
	margin: 0;
	font-size: 18px;
}

#error-page {
	margin-top: 50px;
}

#error-page p {
	font-size: 14px;
	line-height: 18px;
	margin: 25px 0 20px;
}

#error-page code, .code {
	font-family: Consolas, Monaco, monospace;
}

#pass-strength-result {
	background-color: #eee;
	border-color: #ddd !important;
	border-style: solid;
	border-width: 1px;
	margin: 5px 5px 5px 0;
	padding: 5px;
	text-align: center;
	width: 200px;
	display: none;
}

#pass-strength-result.bad {
	background-color: #ffb78c;
	border-color: #ff853c !important;
}

#pass-strength-result.good {
	background-color: #ffec8b;
	border-color: #ffcc00 !important;
}

#pass-strength-result.short {
	background-color: #ffa0a0;
	border-color: #f04040 !important;
}

#pass-strength-result.strong {
	background-color: #c3ff88;
	border-color: #8dff1c !important;
}

.message {
	border: 1px solid #e6db55;
	padding: 0.3em 0.6em;
	margin: 5px 0 15px;
	background-color: #ffffe0;
}

/* install-rtl */
body.rtl {
	font-family: Tahoma, arial;
}

.rtl h1 {
	font-family: arial;
	margin: 5px -4px 0 0;
}

.rtl ul,
.rtl ol {
	padding: 5px 22px 5px 5px;
}

.rtl .step,
.rtl th,
.rtl .form-table th {
	text-align: right;
}

.rtl .submit input,
.rtl .button,
.rtl .button-secondary {
	margin-right: 0;
}

.rtl #dbname,
.rtl #uname,
.rtl #pwd,
.rtl #dbhost,
.rtl #prefix,
.rtl #user_login,
.rtl #admin_email,
.rtl #pass1,
.rtl #pass2 {
	direction: ltr;
}
