/*-------------------------
	Simple reset
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	General Styles
--------------------------*/
#steps>.bulle{-moz-border-radius:45px;-webkit-border-radius: 45px;border-radius:45px;font-size:20px;color:white;background:#a1a1a1;width:31px;height:28px;padding-top:2px;text-shadow:0 1px 0 #333;float:left;}
#steps>.text{float:left;text-align:left;font-size:20px;margin-left:14px;margin-top:3px;margin-right:25px;}
#steps>.tactive{float:left;text-align:left;font-size:20px;margin-left:14px;margin-top:3px;color:#54A6DE;margin-right:25px;}
#steps>.bactive{-moz-border-radius:45px;-webkit-border-radius: 45px;border-radius:45px;font-size:20px;color:white;background:#54A6DE;width:31px;height:28px;padding-top:2px;text-shadow:0 1px 0 #333;float:left;}

html{
	/* CSS3 Multiple backgrounds with a fallback */
	
	background-color:#e4e4e4;
	background:url('../img/bg_gradient.jpg') no-repeat center center,url('../img/bg_tile.jpg');
}

body{
	color:#888;
	padding:10px;
	min-height:600px;
	font:14px/1.3 'Segoe UI',Arial, sans-serif;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.7);
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}


/*----------------------------
	Headers & Footers
-----------------------------*/


header{
	display:block;
}

h1{
	height:50px;
	text-indent:-99999px;
	overflow:hidden;
	background:url('../img/h1.png') no-repeat center center;
	margin:150px auto 60px;
	text-align:center;
}

h2{
	font-size: 17px;
	font-style: italic;
	font-weight: normal;
	left: 27px;
	position: absolute;
	top: 36px;
}

footer{
	color: #999999;
	font-size: 15px;
	line-height: 1.6;
	padding: 40px 20px 0;
	text-align: center;
	display:block;
}

footer b{
	color: #888888;
	display: block;
	font-size: 10px;
	font-weight: normal;
}

body > img{
	/* The twitter illustration */
	
	margin:50px auto 0;
	display:block;
}


/*----------------------------
	Main container
-----------------------------*/


#container{
	width:890px;
	padding:10px;
	text-align:center;
	margin:0 auto;
	position:relative;
	background-color:#fff;
	display:block;
	height: 442px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
.pstep{display:none;opacity:0;}

#container:before,
#container:after{
	
	/* Adding subtle shadows with before/after elements */
	
	content:'.';
	text-indent:-99999px;
	overflow:hidden;
	display:block;
	height:12px;
	width:470px;
	background:url('../img/shadows.png') no-repeat center top;
	position:absolute;
	left:220px;
	top:-12px;
}

#container:after{
	top:auto;
	bottom:-12px;
	background-position:center bottom;
}

#container p{
	font:24px/1.3 'Segoe UI Light','Segoe UI',Arial,sans-serif;
	padding: 70px 0 48px;
}


/*----------------------------
	Download Button
-----------------------------*/


a.downloadButton{
	display:inline-block;
	width:187px;
	height:59px;
	overflow:hidden;
	background:url('../img/buttons.png') no-repeat;
	cursor:default;
	border:none;
	text-shadow:0 1px 0 #606060;
	text-decoration:none !important;
	color:#fff;
	font-size:32px;
	padding-top:10px;
}

a.downloadButton:hover{
	display:inline-block;
	overflow:hidden;
	background:url('../img/buttons.png') no-repeat;
	cursor:default;
	border:none;
	text-decoration:none !important;
	background-position:0 -69px;
}

a.downloadButton.active{
	background-position:left bottom;
	cursor:pointer;
}

.roundn {
	-moz-border-radius:20px;
	-webkit-border-radius: 20px;
	border-radius:20px;
	color:white;
	background:#a1a1a1;
}

.error{margin-left:auto;margin-right:auto;width:500px;margin-bottom:15px;background:#c00000;border:5px solid darkred;color:#fff;padding:15px;font-shadow:0 1px 0 darkred;}
.folder{font-family:Courier;border-bottom:dashed 1px #fff;}

input{font-family:Courier;font-size:24px;border:0;border-bottom:1px dashed #ccc;color:#888;box-shadow:none;-webkit-appearance: textfield;-webkit-rtl-ordering: logical;text-shadow: none;-webkit-user-select: text;cursor: auto;}
small{font-size:10px;margin-top:-10px;}
textarea{font-family:Courier;width:600px;height:300px;border:1px solid #ccc;padding:10px;font-size:22px;color:#888;}